
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; }
html { scroll-behavior: smooth; }
.text-gradient { background-clip: text; -webkit-background-clip: text; color: transparent; }
